

div{
    color: rgb(255, 145, 0);
    background-color: transparent;
}

p {
    color:silver;
}

h1 {color: rgb(255, 67, 1);
background-color: transparent;}

h4 {color: rgb(255, 67, 1);
    background-color:silver;}